<%- include('partials/admin_header')%>
 <h2 style="padding: 2% 0;">Admisson Fee Payment list</h2>
 <ul style="padding:5% 2%">
    <% fees.forEach(function(fee){%>
        <li><ul style="padding: 3% 2%;">
            <li>Email:<%=fee.name%> </li>
            <li>Email:<%=fee.class%> </li>
            <li>Email:<%=fee.email%> </li>
            <li>Order id : <%=fee.order_id%></li>
           <% if(fee.payment!=true){%>
            <li><a style="text-decoration: none;color: green;" href="/tpaymentapprove/<%=fee.email%>">Click to Approve</a></li>
           <% }else{%>
            <li>Approved</li>
           <%} %>
           
        </ul> </li>
        <%})%>
 </ul>

</body>
</html>